body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;

  grid-template-rows: 40px 40px 40px 40px 40px;

  gap: 8px;

  grid-template-areas:
    "header header header header header"
    "sidebar sidebar nav nav nav"
    "sidebar sidebar article article article"
    "sidebar sidebar article article article"
    "footer footer footer footer footer";
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  grid-area: header;
  background-color: #006157;
}

.sidebar {
  grid-area: sidebar;
  background-color: #005B94;
}

.nav {
  grid-area: nav;
  background-color: #642cde;;
}

.article {
  grid-area: article;
  background-color: #7E1DC3;
}

.footer {
  grid-area: footer;
  background-color: #393f4d;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}